# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db

# Unity crash/debug
sysinfo.txt
*.stackdump

# Addressables / cache
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# VRChat VCC / VPM packages
Packages/com.vrchat.*
!Packages/com.vrchat.core.vpm-resolver/

ClientSimStorage/